@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
}
*{
    font: 'Nunito';
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: #EEEDEA;    
}
p{
    margin: 0px;
    font-family: 'Nunito';
}
h1,h2,h3,h4{
    font-family: 'Nunito';
}
a{
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: bold;
}
ul{
    list-style-type:none;
    padding:0px;
}
ul li{
    font-weight: bold;
}

h3.form-message{
    grid-column:2/12
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
}

.title{
    grid-column: 2 / 12;
}
.create-contact{
    grid-column: 2 / 12;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 30px;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2/12;
    width: 100%;
    padding: 10px;
}

div.contact-info:nth-child(3){
    padding: 0px;
}

.contact-info:nth-child(even){
    background-color: #ccc;
}

.previous-btn{
    grid-column: 5/7;
    margin-top: 30px;
    font-size: 25px;
}

.next-btn{
    grid-column: 7/8;
    margin-top: 30px;
    font-size: 25px;
}

.contact-container{
    grid-column: 2/12;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.contact-container *{
    grid-column: 1/5;
}

.contact-container .link-items{
    margin-top: 20px;
    grid-column: 1/2;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

form.edit_contact{
    display: grid;
    gap: 20px;
    grid-column: 1/13;
}

.input-info{
    grid-column: 5/8;
    width: 100%;
}

.input-info label{
    display: inline-block;
    width: 30%;
}

div.input-info:nth-child(8) input{
    width: 100%;
}
.back-view-contact{
    grid-column: 2/12;
}